:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

header {
  display: flex;
  height: 50px;
  margin-bottom: 30px;
  background-color: black;
}

#contents {
  margin: 30px;
  display: flex;
}

#headerIcon {
  width: 40px;
  height: 40px;
  margin: 5px 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: white;
}

/*#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

#conditions {
  width: 60%;
  margin-right: 30px;
}

.condition {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.numberSpace {
  width: 70px;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.1s, background-color 0.1s, color 0.1s;
}

button:hover {
  border-color: #1a1a1a;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.middleBtn {
  margin: 20px 0 10px 0;
  padding: 0.6em 1.2em;
  background-color: black;
  color: white;
}

.middleBtn:hover {
  background-color: rgb(97, 97, 97);
}

.bigBtn {
  margin: 20px 0 10px 0;
  padding: 20px;
  width: 100%;
  background-color: rgb(218, 80, 75);
  color: white;
  transition: 0.3s;
}

.bigBtn:hover {
  background-color: rgb(175, 66, 62);
  color: rgb(207, 207, 207);
  transform: scale(1.01);
}

/*#result {
  margin: 0 auto;
}*/

.resultTable {
  
  padding: 10px; 
  background-color: #e6eaed;
  border-radius: 8px;
}

.seatNumber {
  width: 100%;
  position: relative;
  top: -28px;
  left: 0px;
  color: #a3a5a5;
  z-index: 1;
}

.table {
  width: 100px; 
  height: 100px; 
  border: 1.5px solid black; 
  display: inline-block;
  line-height: 80px;
  text-align: center;
  margin: 1.5px;
  background-color: white;
  transition: 0.5s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 730px) {
  #contents {
    display: block;
  }

  #conditions {
    width: 100%;
  }

  .resultTable {
    display: inline-block;
    margin-top: 20px;
  }
}

.deleteBtn {
  font-size: 10px;
}